<style>
    .root {

        color: #e67e22;
        font-size: 40px;
        font-weight: bold;
        font-family: DM Sans;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .heading {

        background: #ecf0f1;
        width: 1200px;
        height: auto;
        border-radius: 10px;

    }

    .mainheading {

        background: #8e44ad;
        height: 120vh;
        display: flex;
        justify-content: center;
        
    }
</style>

<!DOCTYPE html>
<html>

<head>
    <title>Flight Enquiry System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600&family=DM+Sans:wght@700&family=Lato:ital,wght@1,700&family=Lobster&family=Oxygen:wght@700&family=Source+Code+Pro&display=swap"
        rel="stylesheet">



    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').formSelect();
        });

        $(document).ready(function () {
            $('.timepicker').timepicker();
        });

    </script>
    <script src="/javascripts/project.js"></script>
</head>
<body>
     
    <div class="mainheading">
        <div class="heading">
            <div class="root"><img src="/images/Spicejet.png" alt="Error loading image" width="125px">Flight Enquiry
                System</div>
                <hr>
            

                <div class="row">
                    <div class="col s3">
                        <div class="input-field">
                            <i class="material-icons prefix">flight_takeoff</i>
                            <select id="sourcestate" name="sourcestate">
                                <option disabled selected>Choose your State</option>
                            </select>
                            <label>Source State</label>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                            <i class="material-icons prefix">flight_takeoff</i>
                            <select id="sourcecity" name="sourcecity">
                                <option disabled selected>Choose your City</option>
                            </select>
                            <label>Source City</label>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                            <i class="material-icons prefix">flight_land</i>
                            <select id="deststate" name="deststate">
                                <option disabled selected>Choose your State</option>
                            </select>
                            <label>Destination State</label>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                            <i class="material-icons prefix">flight_land</i>
                            <select id="destcity" name="destcity">
                                <option disabled selected>Choose your City</option>
                            </select>
                            <label>Destination City</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12" style="display:flex;justify-content:center;">
                        <button id="btn" class="waves-effect waves-light btn-large"><i class="material-icons left">search</i>Search</button>
                    </div>
                </div>


                <table class="striped" id="result">

                </table>
        </div>
    </div>



</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>